<div container='app-root'>
<center>Input 1: <input type="number" placeholder="number1" [(ngModel)]="a">  Input 2: <input type="number" placeholder="number2" [(ngModel)]="b"></center><br><br>

<center>Results : <input type="number" [(ngModel)]="result"><br></center>
<br><br>
<center><button (click)="addition()">+</button>
<label>  </label>
<button (click)="subtraction()">-</button>
<label>  </label>
<button (click)="multiplication()">*</button>
<label>  </label>
<button (click)="division()">/</button></center>
</div>

