html
{
    height: 100%;
    scroll-behavior: smooth;
}

body
{
    color: blue;
    margin: 0;
    padding: 0;
    background-image: url('machine-learning.png');
    background-color: white;
    background-repeat:  no-repeat ;
    background-size: cover;
    position: relative;
}
.right img
{
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 10px;
    margin-right: 40px;
    -webkit-filter: grayscale(80%); 
    filter: grayscale(80%);
    transition: all ease-in-out 250ms;  
}
.right img:hover
{
    -webkit-filter: grayscale(0); 
    filter: grayscale(0);
}
.Quote
{
    padding-top: 0%;
    text-align: center;
    font-family: 'Tangerine', serif;
    font-size: 30px;
    height: 100%;
    color: whitesmoke;

}

.container{

    padding: 10px;
    padding-top: 2%;
    text-align: right;
    color: whitesmoke;
    font-family: 'Century Gothic';
    height: 90%;
}

.container h1{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
}
.container h2{
    font-size: 12px;
    padding-top: 1%;
    letter-spacing: 3px;
    font-weight: 100;
}
.container h5{
    padding-top: 0%;
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
}
.container a{
    color: whitesmoke;
    position: relative;
}
.container_1{

    padding: 40px;
    padding-top: 0%;
    text-align: right;
    margin: auto;
    color: whitesmoke;
    font-family: 'Century Gothic',sans-serif;
    height: 100%;
}


.container_1 h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
}

.container_1 h5{

    text-align: right;
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
}
.container_1 a{
    color: whitesmoke;
    position: relative;
}
ul{
    margin-top: 0;
    padding: 0;
}
li{
    position: relative;
    display: block;
}
li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
li a:hover{
    color: #77216F;
}

a
{
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
    transition: all ease-in-out 250ms;
}
a:hover{
    color: purple;
}